<div class="c-wrapper d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-10 col-sm-8 col-md-6 col-xl-4 offset-1 offset-sm-2 offset-md-3 offset-xl-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h4 class="card-title text-center text-danger">
                        <img src="../../../assets/images/logo.png" width="30" height="30" class="d-inline-block align-top mr-2">
                        Phonebook
                    </h4>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="d-block"
                                >Name<sup class="text-danger h6"> *</sup>
                                <input type="text" class="form-control mt-2" [ngClass]="{'c-border-error': isInputValid('name')}" formControlName="name"/>
                                <small *ngIf="isInputValid('name')" class="text-danger">
                                    {{getValidationErrorMessage('name')}}
                                </small>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="d-block"
                                >Email<sup class="text-danger h6"> *</sup>
                                <input type="email" class="form-control mt-2" [ngClass]="{'c-border-error': isInputValid('email')}" formControlName="email"/>
                                <small *ngIf="isInputValid('email')" class="text-danger">
                                    {{getValidationErrorMessage('email')}}
                                </small>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="d-block"
                                >Password<sup class="text-danger h6"> *</sup>
                                <input type="password" class="form-control mt-2" formControlName="password"/>
                                <small *ngIf="isInputValid('password')" class="text-danger">
                                    {{getValidationErrorMessage('password')}}
                                </small>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="d-block"
                                >Confirm password<sup class="text-danger h6"> *</sup>
                                <input type="password" class="form-control mt-2" formControlName="passwordConfirm"/>
                                <small *ngIf="isInputValid('passwordConfirm')" class="text-danger">
                                    {{getValidationErrorMessage('passwordConfirm')}}
                                </small>
                            </label>
                        </div>
                        <div *ngIf="fetchingUser" class="d-flex align-items-center justify-content-center">
                            <div class="spinner-border text-primary mx-auto" role="status" >
                                <span class="sr-only">Loading...</span>
                            </div>
                            </div>
                        <button *ngIf="!fetchingUser" type="submit" class="btn btn-primary px-5 d-block mx-auto" [disabled]="!registerForm.valid">Register</button>
                        <p class="c-max-content text-primary text-center mt-2 mb-0 mx-auto">
                            <a routerLink="/auth/login">
                                Already have an account? Login
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
