.c-wrapper{
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}
.c-new-contact-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.content{
    height: 1500px;
    background-color: pink;
}
.c-contact-card {
    text-decoration: none;
    color: inherit;
}